/* #FEF9EC */
/* FFBC0D */
/* C02225 */
/* 2D4356 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* HEADER START */
body header {
  display: inline;
}
body header .logocontainer {
  padding-inline-start: 1rem;
  padding-block: 0.7rem;
}
body header nav {
  padding-block: 0.8rem;
  position: sticky;
  top: 0;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 1, 0.025);
}
body header nav ul {
  display: flex;
  gap: 1.3rem;
  flex-direction: row-reverse;
  padding-inline: 2rem;
  font-size: 1.1rem;
}
body header nav ul li {
  list-style-type: none;
  border: 2px solid transparent;
  padding: 0.4rem;
  border-radius: 99px;
  transition: 0.4s ease-out;
  font-weight: 600;
}
body header nav ul li:hover {
  background-color: #ffbc0d;
  border: 2px solid #ffbc0d;
  color: #ffffff;
  box-shadow: 0 0 8px #ffbc0d;
}
/* HEADER END */
